{% extends 'layout.html' %}

{% block content %}
{{block.super}}
<div id="wrapper">
    <div id="main">
        {% if posts %}
        {% for post in posts %}
        <article class="thumb">
            <a href="{{post.photo.cdn_url}}" class="image"><img src="{{ post.photo.cdn_url }}"
                    alt="eit" /></a>
            <h2>{{post.name}}</h2>
            <p>{{post.category}}</p>
            <p>{{post.description}}</p>
          
        </article>
        {% endfor %}
        {% endif %}


    </div>
</div>





{% endblock %}