{% extends 'layout.html' %}

{% block content %}
{{block.super}}
<div id="wrapper">
    <div id="main">
        {% for image_item in images %}
        <article class="thumb">
            <a href="{{image_item.joy_image.url}}" class="image"><img src="{{image_item.joy_image.url}}"
                    alt="eiffel tower" /></a>
            <h2>{{image_item.name}}</h2>
            <p>{{image_item.category}}</p>
        </article>
        {% endfor %}




    </div>
</div>

















{% endblock %}