{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="HandheldFriendly" content="true">
  <link rel="stylesheet" href="../../static/assets/css/main.css" />
  <noscript>
    <link rel="stylesheet" href="../../static/assets/css/noscript.css" /></noscript>
  {% if title %}
  <title>maPicha Fine- {{title}}</title>
  {% else %}
  <title>Mapicha Fine</title>
  {% endif %}
  <!-- {{ form.media }} -->
  {% block styles %}
  {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'assets/css/static' %}">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  {% endblock %}

  <!-- The best place for this one is your <HEAD> tag -->
  <script>UPLOADCARE_PUBLIC_KEY = "fd0e6165eedf5e306947";</script>
  <script src="https://ucarecdn.com/libs/widget/3.7.4/uploadcare.full.min.js" charset="utf-8"></script>
</head>

<body>
  <style>
    @import url('https://fonts.googleapis.com/css?family=Courier+Prime&display=swap');

    body {
      font-family: 'Courier Prime', monospace;
    }
  </style>
  {% block content %}
  <!-- Header -->
 
  <header id="header">
    <a href="{% url 'index' %}">
      <h1><strong>Mapicha</strong>Fine</h1>
    </a>
    <nav>

      <ul>
        <li><a href="#footer" class="icon solid fa-info-circle">About</a></li>
      </ul>
    </nav>
  </header>
  


  <!-- Footer -->
  <footer id="footer" class="panel">
    <div class="inner split">
      <div>
        <section>
          <h3>MapichaFine</h3>
          <p class="desc">“If you see something that moves you, and then snap it, you keep a moment.”
            — Linda McCartney</p>
            <p class="desc">“Taking pictures is savoring life intensely, every hundredth of a second.”
              — Marc Riboud</p>
        </section>
        <section>
          <form class="navbar-form" role="search" action="{% url 'search_results' %}">

            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search Image" name="image">
              <div class="input-group-btn">
                <button type="submit" class="btn btn-outline-success">Search</button>
              </div>
            </div>


          </form>
        </section>
        <section>
          <form class="navbar-form" role="Submit" action="{% url 'uploadPhoto' %}">
            <div class="input-group-btn">
             
              <a href=""><button type="submit" class="btn btn-outline-success">Submit a
                  photo</button></a>
             
              
            </div>
          </form>
        </section>
        <section>
          <h2>Follow me on ...</h2>
          <ul class="icons">
            <li><a href="https://twitter.com/nyaki_____nyua" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="https://facebook.com" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a>
            </li>
            <li><a href="https://www.instagram.com" class="icon brands fa-instagram"><span class="label">Instagram</span></a>
            </li>
            <li><a href="https://github.com/Nyakinyua" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
            <li><a href="www.dribble.com" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
            <li><a href="https://www.linkedin.com/in/joyce-nyakinyua-wanjiru" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a>
            </li>
          </ul>
        </section>
        <p class="copyright">
          &copy; Unttled. Design: <a href="http://html5up.net">Nyakinyua</a>.
        </p>
      </div>

    </div>
  </footer>
  {% endblock content %}
  <script src="../../static/assets/js/jquery.min.js"></script>
  <script src="../../static/assets/js/jquery.poptrox.min.js"></script>
  <script src="../../static/assets/js/browser.min.js"></script>
  <script src="../../static/assets/js/breakpoints.min.js"></script>
  <script src="../../static/assets/js/util.js"></script>
  <script src="../../static/assets/js/main.js"></script>
</body>

</html>