{%extends 'layout.html'%}
{% load bootstrap4%}
{%load static%}
{% block content%}




<div class="container prof" style="padding-top:5em">
    <br><br>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-4">
                    {%if user.profile.pic%}
                    <img class="img-fluid rounded-circle" src="{{user.profile.pic}}" alt="profile">
                    {%else%}
                    <img class="img-fluid rounded-circle" src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtrWO5G0c78-iqIqianNXbrCpd0tMvC6SToxg3XjIuz4j_KPlp&s'>
                {%endif%}
                </div>
                <div class="col-md-8">
                    <div class=" idea">

                         <a href="{%url 'edit'%}"> <button type="button" class="btn btn-info">Edit
                                Profile</button><a id="prompt" >
                            <i class="fas fa-cog fa-spin"></i></a>

                    </div>

                    {%for i in profile%}
                    <strong>User:{{user|upper}}</strong>
                    <p><strong>BIO:</strong>{{i.bio}}</p>

                    {%endfor%}
                </div>

            </div>
            <br>
            <hr class="info">
            <div class="tags">
                <a href="#"><i class="far fa-newspaper"></i> Posts</a><a href="#"><i class="far fa-newspaper"></i>
                    Saved</a>
            </div>
        </div>
        <div class="col-md-1"> </div>

    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-8"></div>

        <div class="row">
            {%if post %}
            {% for post in post %}
            <div class=col-md-4>
                <div class="card" style="margin-bottom: 5em;">
                    <div class="card-title">
                        <h3>{{post.image_name}}</h3>
                    </div>
                        <img class="img-fluid" src="{{post.joy_image.url}}" alt="">
    
    
    
                    <div class="card-body">
                        <p>{{post.description}}</p>
                    </div>
                    <div class="card-footer">
                        <p>Location {{post.pub_date}}</p>
                    </div>
    
    
                </div>
            </div>
            {%endfor%}
            {%else%}
            <div class="alert">
                <p class="animated fadeIn alert alert-danger">You have not posted anything <br>
                <a href="{%url 'uploadPhoto'%}">Get started</a></p>
      
              </div>
              {%endif%}
            <br><br>
    
        </div>
        

    </div>
</div>

{% endblock%}